@media screen and (min-width: 769px) {
  .section {
    display: none;
  }
}

.container {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.itemsContainer {
  border: 1px solid #9fd131;
  padding: 2rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}

@media screen and (max-width: 404px) {
  .itemsContainer {
    min-height: 13rem;
  }
}

.h1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.68px;
  text-align: left;
  color: #3f4d55;
  text-transform: uppercase;
}

.p {
  font-size: 16px;
  font-weight: 300;
  line-height: 21.92px;
  text-align: left;
  color: #3f4d55;
}

.HeroMobile {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 377px) {
  .h1 {
    font-size: 15px;
  }

  .p {
    font-size: 15px;
  }
}
