/* Láthatatlan checkbox az interakcióhoz */
.btnContainer {
  width: max-content;
  position: fixed;
  z-index: 9999;
  bottom: 4rem;
  right: 2rem;
}

@media screen and (max-width: 600px) {
  .btnContainer {
    width: 100%;
    position: unset;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .btnContainer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .btnContainerMobile {
    display: flex !important;
  }
}

.toggleCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* A kapcsoló háttere */
.toggleSlot {
  position: relative;
  height: 5em;
  width: 10em;
  border: 2px solid #e4e7ec;
  border-radius: 5em;
  background-color: white;
  box-shadow: 0px 5px 15px #e4e7ec85;
  overflow: hidden; /* Fontos a kilógás megakadályozására */
  transition: background-color 250ms;
  cursor: pointer;
}

.toggleCheckbox:checked ~ .toggleSlot {
  background-color: #374151;
  cursor: pointer;
}

/* A gomb */
.toggleButton {
  cursor: pointer;
  transform: translate(5.5em, 0.75em);
  position: absolute;
  height: 2.2em;
  width: 2.2em;
  border-radius: 50%;
  top: 2.5px;
  box-shadow: inset 0px 0px 0px 0.5em #93cc00;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggleCheckbox:checked ~ .toggleSlot .toggleButton {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.5em white;
  transform: translate(1.5em, 0.75em);
}

/* Nap ikon (animációval) */
.sunIcon {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  color: #93cc00;
  cursor: pointer;
}

.sunIconWrapper {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggleCheckbox:checked ~ .toggleSlot .sunIconWrapper {
  opacity: 0;
  transform: translateY(-50%) scale(0.8);
}

/* Hold ikon (animációval) */
.moonIcon {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  color: white;
  cursor: pointer;
}

.moonIconWrapper {
  position: absolute;
  height: 2.5em;
  width: 2.5em;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggleCheckbox:checked ~ .toggleSlot .moonIconWrapper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
