.section {
  padding: 7rem 5vw;
  width: 100%;
}

.partnersContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  max-width: var(--maxWidth);
  background-color: #f4f4f4;
  min-height: 29.4rem;
  margin-inline: auto;
  border-radius: 5rem 0 5rem 5rem;
  /*Removedtop-rightcornerradius*/
  -webkit-border-radius: 5rem 0 5rem 5rem;
  -moz-border-radius: 5rem 0 5rem 5rem;
  -ms-border-radius: 5rem 0 5rem 5rem;
  -o-border-radius: 5rem 0 5rem 5rem;
  -webkit-border-radius: 5rem 0 5rem 5rem;
}

.titleContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7rem;
  width: 20%;
  background-color: rgb(255 255 255);
  position: absolute;
  top: -6.9rem;
  left: 0.5px;
  border-radius: 5rem 0rem 5rem 5rem;
  z-index: 2;
  -webkit-border-radius: 5rem 0rem 5rem 5rem;
}

.titleContainer2 {
  min-height: 7rem;
  width: 20%;
  z-index: -1;
  background-color: #f4f4f4;
  position: absolute;
  top: -2.9rem;
  left: 62px;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
}

.titleContainer {
  background-color: #f4f4f4;
  margin-left: 1rem;
  top: -6.9rem;
  right: 0;
  padding: 2rem;
  position: absolute;
  border-radius: 5rem 5rem 0 5rem;
  width: 80%;
  min-height: 8rem;
  -webkit-border-radius: 5rem 5rem 0 5rem;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  text-align: left;
  color: #3f4d55;
}

.imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 7rem;
  column-gap: 10rem;
  justify-items: center;
  align-items: center;
}

.imagesContainer img {
  opacity: 0.5;
}

.imagesContainer img:hover {
  opacity: 1;
}
